<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Календарь</h2>
        <h5>Запишитесь на сеанс игры в удобное для Вас время</h5>
        <div id="app" class="calendar-block">
          <div class="left-block">
            <calendar v-if="dataVidible" @setData="setData"></calendar>
            <time-pick
              :data-select="data"
              v-if="timeVisible"
              @to="backTo"
              @toForm="toForm"
              @allTime="allTime"
            ></time-pick>
          </div>
          <div class="right-block">
            <forma-app @to="backTo" :setTime="time" :setData="data" :allTime="allTimes"></forma-app>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TimePick from "./TimePick.vue";
import Forma from "./Forma_Send.vue";
import Calendar from "./Calendar.vue";

export default {
  name: "app",
  components: {
    TimePick: TimePick,
    formaApp: Forma,
    calendar: Calendar
  },
  data() {
    return {
      dataVidible: true,
      timeVisible: false,
      formaVisible: false,
      data: "",
      time: [],
      allTimes: {}
    };
  },
  methods: {
    setData(data) {
      this.data = data;
      this.dataVidible = false;
      this.timeVisible = true;
    },
    backTo(steps) {
      if (steps == "calendar") {
        this.dataVidible = true;
        this.timeVisible = false;
      } else if (steps == "start") {
        this.dataVidible = true;
        this.timeVisible = false;
        this.formaVisible = false;
      }
    },
    toForm(time) {
      this.time = time;
    },
    allTime(allTime) {
      this.allTimes = allTime;
    }
  }
};
</script>
<style lang="scss-loader">
.calendar-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  .right-block {
    padding-left: 30px;
  }

  .left-block,
  .right-block {
    width: calc(100% / 2);
    align-items: center;
  }
}
.clock {
  padding: 50px 65px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  .tr {
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #555;
    font-weight: 700;
    font-size: 26px;
    &.hours {
      font-size: 20px;
      .td {
        width: 33.33333%;
        &.active-hour {
          color: #ff5b0a;
          font-size: 20px;
        }
      }
    }
  }
  .td {
    width: 14.28571%;
    text-align: center;
    cursor: pointer;
    line-height: 45px;
  }
}
</style>
