<template>
  <div>
    <datepicker :inline="true" @selected="selectData" :disabledDates="disabledDates" :language="ru"></datepicker>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import { ru } from "vuejs-datepicker/dist/locale";

export default {
  components: {
    Datepicker
  },
  data() {
    return {
      dataSend: "",
      disabledDates: {
        to: {}
      },
      ru: ru
    };
  },
  methods: {
    selectData(data) {
      let onData = data;
      let day = onData.getDate();
      let month = onData.getMonth() + 1;
      let year = onData.getFullYear();

      this.dataSend = day + "." + month + "." + year;

      this.$emit("setData", this.dataSend);
    }
  },
  created() {
    let onData = new Date();
    let day = onData.getDate();
    let month = onData.getMonth();
    let year = onData.getFullYear();
    this.disabledDates.to = new Date(year, month, day);
  }
};
</script>

<style lang="scss-loader">
.vdp-datepicker__calendar {
  width: 100%;
}
.vdp-datepicker {
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.vdp-datepicker .cell.day {
  color: #555;
  font-weight: 700;
  font-size: 26px;
  line-height: 45px;
  height: auto;
  border: none !important;
  &:hover {
    color: #ff5b0a;
  }
}
.vdp-datepicker .cell.day.disabled {
  color: #c1c1c1;
  pointer-events: none;
}
.vdp-datepicker .cell.day.today {
  color: #ff5b0a;
}
.vdp-datepicker header {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 120px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #ff5b0a;
}
.vdp-datepicker header .day__month_btn {
  font-size: 30px;
  color: #fff;
  padding: 0 40px;
  cursor: pointer;
  pointer-events: none;
}
.vdp-datepicker header .next,
.vdp-datepicker header .prev {
  font-size: 0;
  position: relative;
  cursor: pointer;
  color: #fff;
  &:hover {
    background: transparent !important;
  }
  &:after {
    display: none;
  }
}

.vdp-datepicker header .next:before,
.vdp-datepicker header .prev:before {
  content: "\ea03";
  font-size: 20px;
  font-family: custom-icons;
}
.vdp-datepicker header .prev:before {
  content: "\ea02";
}
.vdp-datepicker header + div {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 65px;
}
.vdp-datepicker .cell {
  width: 14.28571%;
  text-align: center;
}
.vdp-datepicker .cell.day-header {
  color: #ff5b0a;
  font-size: 27px;
  font-weight: 700;
  line-height: 45px;
}
.vdp-datepicker__calendar {
  border: none;
}
@media only screen and (max-width: 991px) {
  .vdp-datepicker header + div {
    padding: 30px 10px;
  }
  .vdp-datepicker .cell.day-header,
  .vdp-datepicker .cell.day {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .calendar-block .left-block,
  .calendar-block .right-block {
    width: 100%;
  }
  .calendar-block .right-block {
    padding-left: 0;
  }
  .vdp-datepicker header {
    height: 60px;
    padding: 0;
  }
  .vdp-datepicker header .day__month_btn {
    font-size: 20px;
  }
}
</style>
