<template>
  <div>
    <!-- <button @click="backTo">back</button> -->
    <form action class="vrbooking" @submit.prevent>
      <div class="input">
        <label for>Ваше Имя</label>
        <input type="text" placeholder="Введите Ваше имя" v-model="name" required>
      </div>
      <div class="input">
        <label for>Ваш Email (не обязательно)</label>
        <input type="email" placeholder="Введите Ваше Email" v-model="email">
      </div>
      <div class="input">
        <label for>Ваш номер телефона</label>
        <input type="text" placeholder="Введите Ваш номер телефона" v-model="tel" required>
      </div>
      <div class="select-block">
        <label for>Кол-во посетителей</label>
        <div class="select">
          <div class="select-styled" @click="selectPeople">{{selectedCountUserTetx}}</div>
          <ul class="select-options" v-if="clikcSelected">
            <li
              v-for="(people, i) in peoples"
              :key="i"
              @click="selectedCount(people.count, people.select)"
            >{{people.select}}</li>
          </ul>
        </div>
      </div>
      <div class="input-promo">
        <label for>Промо код</label>
        <input type="text" placeholder="Введите промо код" v-model="promoText" @change="addPromos">
      </div>
      <h3 class="price">
        Цена
        <span v-if="priceDiscount == 0">{{priceC}}</span>
        <span v-if="priceDiscount != 0">{{priceDiscountC}}</span>
        <strong>грн.</strong>
      </h3>
      <div class="input">
        <input type="checkbox" name="callme" id="callme" v-model="callme">
        <label for="callme">Я хочу чтоб мне перезвонили</label>
      </div>
      <div class="button">
        <input type="submit" value="Оформить бронь" @click="sendFormsData">
      </div>
    </form>
    <vue-modaltor
      :visible="open"
      @hide="hideModal"
      :resizeWidth="resizeWidth"
      :bgOverlay="bgOverlay"
      :bgPanel="bgPanel"
    >
      <template slot="close-icon">
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 40 40"
          width="20"
          height="20"
          xml:space="preserve"
        >
          <path
            class="st0"
            fill="#fff"
            d="M8.7,7.6c-0.4-0.4-1-0.4-1.4,0C6.9,8,6.9,8.6,7.3,9l11,11l-11,11c-0.4,0.4-0.4,1,0,1.4c0.4,0.4,1,0.4,1.4,0 l11-11l11,11c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4l-11-11L32,9c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0l-11,11L8.7,7.6z"
          ></path>
        </svg>
      </template>
      <div v-if="busyTime" class="error-time">
        <img src="./assets/logo.png" alt="logo">
        <p>
          Данное время {{busyTimeText}} уже занято
          <strong>{{budyCount}}</strong> Из 4. Выберете другое время или уменьшите количество человек
        </p>
      </div>
      <div v-if="successForm" class="success-dialog">
        <img src="./assets/logo.png" alt="logo">
        <h3>Спасибо за бронирование!</h3>
        <p>Наш администратор сейчас танцует от радости и ждёт вас {{setData}}. Количество {{ CountUser }} человек</p>
      </div>
      <div v-if="errorForm" class="error-time">
        <p>{{textError}}</p>
      </div>
    </vue-modaltor>
  </div>
</template>

<script>
import req from "superagent";
import * as R from "ramda";
import jsonp from "superagent-jsonp";

export default {
  props: ["setTime", "setData", "allTime"],
  data() {
    return {
      name: "",
      email: "",
      tel: "",
      promo: [],
      promoText: "",
      selectedCountUser: 1,
      selectedCountUserTetx: "1 человек",
      clikcSelected: false,
      price: 250,
      priceDiscount: 0,
      promoFalse: false,
      dataSet: this.setData,
      busyTime: false,
      busyTimeText: "",
      budyCount: 0,
      allTimes: this.allTime,
      peoples: [
        {
          select: "1 человек",
          count: 1
        },
        {
          select: "2 человека",
          count: 2
        },
        {
          select: "3 человека",
          count: 3
        },
        {
          select: "4 человека",
          count: 4
        }
      ],
      open: false,
      resizeWidth: {
        1920: "30%",
        1366: "40%",
        1024: "50%",
        768: "70%",
        480: "90%"
      },
      bgOverlay: "",
      bgPanel: "#000",
      successForm: false,
      callme: false,
      errorForm: false,
      textError: ""
    };
  },
  methods: {
    hideModal() {
      this.open = !this.open;
      if (!this.errorForm) {
        this.name = "";
        this.email = "";
        this.promoText = "";
        this.tel = "";
        this.price = 250;
        this.setData = "";
        this.setTime = {};
        this.priceDiscount = 0;
        this.selectedCountUser = 1;
        this.selectedCountUserTetx = "1 человек";
        this.$emit("to", "start");
      }
      console.log(this.price);
    },
    selectPeople() {
      this.clikcSelected = !this.clikcSelected;
    },
    selectedCount(count, text) {
      /**
       * Select the number of registered
       */

      this.selectedCountUser = count;
      this.selectedCountUserTetx = text;
      this.clikcSelected = false;
      this.price = count * 250;
      this.promoText = "";
      this.priceDiscount = 0;
    },
    backTo() {
      /**
       *  Return to the calendar
       */

      this.$emit("to", "timePick");
    },
    sendFormsData() {
      /**
       * Collecting an array to send to the server
       */

      let dataForms = {
        data: this.setData,
        time: this.setTime,
        name: this.name,
        email: this.email,
        tel: this.tel,
        curentUser: this.selectedCountUser,
        allTime: this.allTime.dataTime
      };

      /**
       *  Check for promo code
       */
      if (this.promoFalse == false && this.priceDiscount != 0) {
        dataForms.promo = this.promoText;
        dataForms.price = this.priceDiscountC;
      } else {
        dataForms.price = this.priceC;
      }

      /**
       * Check the checkbox call me back
       */
      if (this.callme) {
        dataForms.callme = "Перезвоните мне в ближайшее время";
      }

      /**
       * Check for busy time
       */
      for (var item in dataForms.time) {
        switch (dataForms.time[item].pipleCount) {
          case 0:
            if (this.selectedCountUser == 4) {
              dataForms.time[item].pipleCount += this.selectedCountUser;
              dataForms.time[item].CloseTime = true;
            } else {
              dataForms.time[item].pipleCount += this.selectedCountUser;

              this.busyTime = false;
            }
            break;
          case 1:
            if (this.selectedCountUser == 4) {
              this.busyTime = true;
              this.busyTimeText = dataForms.time[item].Time;
              this.budyCount = dataForms.time[item].pipleCount;
              this.open = !this.open;
            } else if (this.selectedCountUser == 3) {
              dataForms.time[item].pipleCount += this.selectedCountUser;
              dataForms.time[item].CloseTime = true;
              this.busyTime = false;
            } else {
              dataForms.time[item].pipleCount += this.selectedCountUser;
              this.busyTime = false;
            }
            break;
          case 2:
            if (this.selectedCountUser >= 3) {
              this.busyTime = true;
              this.busyTimeText = dataForms.time[item].Time;
              this.budyCount = dataForms.time[item].pipleCount;
              this.open = !this.open;
            } else if (this.selectedCountUser > 1) {
              dataForms.time[item].pipleCount += this.selectedCountUser;
              this.busyTime = false;
              dataForms.time[item].CloseTime = true;
            } else {
              dataForms.time[item].pipleCount += this.selectedCountUser;
              this.busyTime = false;
            }
            break;
          case 3:
            if (this.selectedCountUser >= 2) {
              this.busyTime = true;
              this.busyTimeText = dataForms.time[item].Time;
              this.budyCount = dataForms.time[item].pipleCount;
              this.open = !this.open;
            } else {
              dataForms.time[item].pipleCount += this.selectedCountUser;
              dataForms.time[item].CloseTime = true;
              this.busyTime = false;
            }
            break;
        }
      }
      if (this.name != "" && this.phone != "") {
        this.errorForm = true;
      } else {
        this.errorForm = false;
      }

      /**
       * Customer check for date and time
       */

      if (dataForms.data == "") {
        this.textError = "Выберете дату посещение";
        this.errorForm = true;
        this.open = !this.open;
      } else if (dataForms.time == "") {
        this.textError = "Выберете Время посещение";
        this.errorForm = true;
        this.open = !this.open;
      } else {
        this.errorForm = false;

        /**
         * Sending an AJAX form to a server
         */
        if (this.busyTime == false && this.errorForm == false) {
          req
            .post("/wp-admin/admin-ajax.php")
            .set("Content-Type", "application/json")
            .query("action=vr_order_new")
            .send(dataForms)
            .then(res => {
              console.log(res.text);
              this.successForm = true;
              this.open = true;
              this.busyTime = false;
            });

          /**
           * Clearing the form after submitting
           */
          this.$emit("to", "start");
        }
      }
    },
    addPromos() {
      let promoApi = this.promo;
      let promo = this.promoText;
      let count = this.selectedCountUser;
      let fiindPromo = R.find(R.propEq("promoCode", promo))(promoApi.promo);

      /**
       * Add promo code
       */
      if (fiindPromo) {
        let discount = (this.price / 100) * fiindPromo.discount;
        this.priceDiscount = this.price - discount;
        this.promoFalse = false;
      } else if (this.promoText == "") {
        this.promoFalse = false;
        this.priceDiscount = 0;
        this.price = count * 250;
      } else {
        this.priceDiscount = 0;
        this.promoFalse = true;
      }
    }
  },
  computed: {
    /**
     * Price recalculation
     */

    priceC() {
      // console.log("Compound Price", this.price * this.setTime.length);
      return this.price * this.setTime.length
        ? this.price * this.setTime.length
        : (this.price = 250 * this.selectedCountUser);
    },

    /**
     * Recalculation of the price taking into account the promotional code
     */

    priceDiscountC() {
      return this.priceDiscount * this.setTime.length
        ? this.priceDiscount * this.setTime.length
        : (this.priceDiscount = 0);
    },
    CountUser() {
      // console.log("User: ", this.selectedCountUser);
      return this.selectedCountUser;
    }
  },
  created() {
    /**
     * AJAX request to the server receiving promotional codes
     */
    req
      .post("/wp-admin/admin-ajax.php")
      .set("Content-Type", "application/json")
      .query("action=vr_promo_code")
      .then(res => {
        let promoApi = JSON.parse(res.text);
        this.promo = promoApi.body;
        console.log("This Promro ", this.promo);
      });
  }
};
</script>

<style scoped lang="scss-loader">
form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .input,
  .input-promo {
    margin-bottom: 20px;
    width: 100%;
  }
  label {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-left: 15px;
    margin-bottom: 10px;
    display: block;
  }
  .input-promo input {
    &[type="email"],
    &[type="tel"],
    &[type="text"] {
      background-color: #f5f5f5;
      height: 45px;
      padding: 0 15px;
      width: 100%;
      border: none;
      color: #191919;
      font-size: 18px;
    }
  }
  .input input {
    &[type="email"],
    &[type="tel"],
    &[type="text"] {
      background-color: #f5f5f5;
      height: 45px;
      padding: 0 15px;
      width: 100%;
      border: none;
      color: #191919;
      font-size: 18px;
    }
    &[type="checkbox"] {
      display: none;
      &:checked {
        & + label {
          &:before {
            content: "✓";
          }
        }
      }
      & + label {
        margin-left: 0;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        display: block;
        margin-top: 10px;
        &:before {
          content: "";
          position: absolute;
          width: 14px;
          height: 14px;
          line-height: 11px;
          text-align: center;
          color: #fff;
          border: 2px solid #ff5b0a;
          left: 0;
          top: 4px;
        }
      }
    }
  }
  .select-block {
    margin-right: 20px;
  }
  .input-promo,
  .select-block {
    width: calc(100% / 2 - 10px);
  }
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 45px;
}

.select-hidden {
  display: none;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 0 15px;
  line-height: 45px;
  height: 45px;
  transition: all 0.2s ease-in;
  color: #191919;
}

.select-options {
  /* display: none; */
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #ff5b0a;
    transition: all 0.15s ease-in;
    color: #191919;
    &:hover {
      background: #ff5b0a;
      color: #fff;
    }
  }
}

.select-styled:after {
  transform: translateY(-50%) rotate(135deg);
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #ff5b0a;
  border-right: 2px solid #ff5b0a;
  position: absolute;
  top: 50%;
  right: 10px;
  transition: all 0.5s ease;
}

form .price {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  width: 100%;
  span {
    font-size: 30px;
    color: #ff5b0a;
  }
}

.button {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 100%;
}

form .button input[type="submit"] {
  max-width: 300px;
  width: 100%;
  height: 45px;
  border: 1px solid #ff5b0a;
  color: #fff;
  background: #ff5b0a;
  transition: all 0.5s ease;
  margin-top: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    background: #fff;
    color: #ff5b0a;
  }
}
.success-dialog,
.error-time,
.error-promo {
  img {
    width: 115px;
    margin-bottom: 55px;
    display: table;
    margin: 20px auto;
  }
  h3 {
    color: #ff5b0a;
    font-size: 30px;
    font-weight: 700;
    /* margin-bottom: 35px; */
    padding: 50px;
    text-align: center;
  }
  p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;

    strong {
      color: #ff5b0a;
    }
  }
}
@media only screen and (max-width: 991px) {
  form label {
    font-size: 13px;
  }
}
@media only screen and (max-width: 380px) {
  form .select-block,
  form .input-promo {
    width: 100%;
    margin-right: 0;
  }
}
</style>
<style>
.modal-vue-overlay {
  background: rgba(0, 0, 0, 0.58);
}
.modal-vue-panel {
  background-image: url(./assets/bg.jpg);
  border-radius: 10px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
</style>

