<template>
  <div class="tbody">
    <div class="tr hours">
      <button @click="backToPrevSteps" class="close-time">&times;</button>
      <div
        class="td hour"
        v-for="(time, i) in timeVisit.dataTime"
        :key="i"
        @click="addTime(time, i)"
        :class="[{ taken: time.TimeTaken, close:time.CloseTime }]"
      >{{time.Time}}</div>
    </div>
  </div>
</template>

<script>
import * as R from "ramda";
import req from "superagent";
export default {
  props: ["DataSelect"],
  data() {
    return {
      DataSelectnext: this.DataSelect,
      sendDataTime: [],
      timeVisit: {}
    };
  },
  methods: {
    /**
     * Add Time in Array
     */
    addTime(time, i) {
      if (this.timeVisit.dataTime[i].CloseTime == false) {
        this.timeVisit.dataTime[i].TimeTaken = !this.timeVisit.dataTime[i]
          .TimeTaken;

        let dataTime = this.timeVisit.dataTime;
        const isEven = dataTime => dataTime.TimeTaken == true;

        this.sendDataTime = R.filter(isEven, dataTime);
        this.$emit("toForm", this.sendDataTime);
      }
    },
    /**
     * Back to Calendar
     */
    backToPrevSteps() {
      console.log("backToPrevSteps", this.timeVisit);
      this.timeVisit = {};
      this.$emit("to", "calendar");
    }
  },
  created() {
    /**
     *
     * Ajax request to WP
     * For getting busy time. If there is no data,
     * then everything is free for this day and the mock data
     * from the JSON file is loaded.
     *
     */
    let TimeApi = req
      .post("/wp-admin/admin-ajax.php")
      .set("Content-Type", "application/json")
      .query("action=vr_time_taken")
      .type("application/json")
      .then(res => {
        let resApi = JSON.parse(res.text);
        console.log("Res body", resApi.data);

        this.timeVisit = R.find(R.propEq("data", this.DataSelectnext))(
          resApi.body.dates
        );
        if (!this.timeVisit) {
          const userData = require("./moq.json");
          this.timeVisit = userData;
        }
        this.$emit("allTime", this.timeVisit);
      })
      .catch(res => {
        console.log(
          "Произонла ошибка загрузки аякса данные тянутся локально",
          res
        );
        const userData = require("./moq.json");
        this.timeVisit = userData;
        this.$emit("allTime", this.timeVisit);
        console.log("Create", this.timeVisit);
      });
  }
};
</script>

<style scoped lang="scss-loader">
.close-time {
  background: transparent;
  color: #ff5b0a;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 56px;
  line-height: 40px;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    color: #c1c1c1;
  }
  &:focus {
    outline: none;
  }
}
.tbody {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 460px;
}
.tbody .td {
  width: 14.28571%;
  text-align: center;
  cursor: pointer;
  line-height: 45px;
}
.tr {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #555;
  font-weight: 700;
}
.tr.hours {
  background: #fff;
  border-radius: 10px;
  padding: 50px 65px;
  position: relative;
}
.td.hour.close {
  text-shadow: none;
  font-size: 20px;
  color: #c1c1c1;
  pointer-events: none;
}
.td.hour.taken {
  color: #ff5b0a;
}
.td.hour {
  font-size: 20px;
  color: #555;
  opacity: 1;
  transition: all 0.5s ease;
  &:hover {
    color: #ff5b0a;
  }
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year {
  border: none !important;
}
.taken {
  color: #ff5b0a;
}

.tr.hours .td {
  width: 33.33333%;
}
</style>
